
html { margin: 0; height: 100vh; width: 100vw; }

body { margin: 0; padding: 0; max-height: 100vh; max-width: 100vw; background: rgb(19, 19, 26); }

* { box-sizing: border-box; font-family: 'Nunito'; font-weight: bold; }