$color_background_1: #13131Aff;
$color_background_2: #1d1d27ff;
$color_background_3: #1d1d27bb;
$color_background_4: #1d1d2777;
$color_background_5: #1d1d2733;

$color_white_1: #ffffffff;
$color_white_2: #ffffffdd;
$color_white_3: #ffffff99;
$color_white_4: #ffffff55;
$color_white_5: #ffffff11;

$color_accent_1_1: #1E75FFff;
$color_accent_1_2: #1E75FFdd;
$color_accent_1_3: #1E75FF99;
$color_accent_1_4: #1E75FF55;
$color_accent_1_5: #1E75FF11;